<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meshcomm">

    <!-- Networking -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- WiFi Direct -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>

    <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <!-- Foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>

    <!-- Android 13 notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:logo="@drawable/img"
        android:icon="@drawable/img"

        >

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.NeighborActivity" android:exported="false"/>
        <activity android:name=".ui.BroadcastActivity" android:exported="false"/>
        <activity android:name=".ui.TestingActivity" android:exported="false"/>
        <activity android:name=".ui.InboxActivity" android:exported="false"/>

        <service
            android:name=".service.MeshService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"/>

    </application>

</manifest>
